* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.waiting {
    min-height: 607px;
    padding-top: 88px;
    padding-bottom: 75px;
    background-color: #efefef;
}

.waiting .waiting_header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.waiting .waiting_divider {
    margin: 0 auto;
    margin-top: 18px;
    width: 220px;
    height: 7px;
    background: #F9BF3B;
}

.waiting .waiting_subheader {
    font-family: Roboto;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 18.5px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    vertical-align: top;
    width: 342px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 26px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}